<h1>Detalle de producto</h1>
<table>
    <tr>
        <td>
            <img width="50%" src="https://media.adeo.com/marketplace/MKP/85240055/9f4a06bb6cdd72ebcbfa949bf0aa9349.jpeg?width=650&height=650&format=jpg&quality=80&fit=bounds" alt="Lejia el conejo">
        </td>
        <td>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, assumenda! Molestiae veniam, debitis doloribus molestias quis, tempore nostrum officiis in accusamus asperiores omnis sed est cumque earum delectus ea laboriosam.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, aliquid! Necessitatibus veritatis quidem fuga. Nesciunt soluta quaerat fugiat quo exercitationem doloribus eligendi est nihil, officia maiores repellendus excepturi adipisci quod.  </p>
        </td>
    </tr>
</table>



