<h1>Alta empleado</h1>

<div>
    <!-- <label>Id empleado: </label>  
   <input type="number" [(ngModel)]="e1.idEmpleado" readonly>
   <br> -->

   <label>Nombre empleado: </label>  
   <input type="text" [(ngModel)]="e1.nombreEmpleado" placeholder="Escriba nombre del empleado">
   <br>
   <label>DNI: </label>
   <input type="text" [(ngModel)]="e1.dni" placeholder="Escriba el DNI">
   <br>
   <label>Sueldo: </label>
   <input type="text" [(ngModel)]="e1.sueldo"><br>
   <button (click)="altaEmpleado()">Dar de alta</button>
   <button (click)="altaEmpleadoHP()">
    Dar de alta con comunicación padre e Hijo
    </button>

</div>

