<h1>Tienda On line</h1>
<p>En esta tienda online encontrará los productos para limpieza de su hogar</p>
<ol>
    <li>Detergentes de suelo</li>
    <li>Productos para el baño</li>
    <li>Producto para cocina</li>
    <li>Producto para el exterior</li>
</ol>
<img width="90%" src="https://www.foodretail.es/2018/09/24/shoppers/Productos-quimicos-limpieza-hogar_1258084191_354078_660x428.jpg" alt="Productos de limpieza">
<table>
    <tr>
        <th>Id del producto</th>
        <th>Precio</th>
        <th>Descripcion</th>
        <th>Imagen</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2,20€</td>
        <td>Lejía el conejo</td>
        <td>
            <img width="100px" 
            src="https://media.adeo.com/marketplace/MKP/85240055/9f4a06bb6cdd72ebcbfa949bf0aa9349.jpeg?width=650&height=650&format=jpg&quality=80&fit=bounds" 
            alt="lejia el conejo">
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>1,50€</td>
        <td>Don Limpio</td>
        <td>
            <img width="100px" 
            src="https://clarel.imgix.net/media/catalog/product/7/0/70598_1_7174.jpg" 
            alt="Don Limpio">
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>3,5€</td>
        <td>fregona </td>
        <td>
            <img width="100px" src="https://media.adeo.com/marketplace/LMES/18866456/2716599.png?width=3000&height=3000&format=jpg&quality=80&fit=bounds" alt="fregona">
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>5,50€</td>
        <td>Cubo para fregona</td>
        <td>
            <img width="100px" src="https://images-eu.ssl-images-amazon.com/images/I/51ITAU9101L._AC_UL232_SR232,232_.jpg" alt="cubo">
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>4,50€</td>
        <td>Escoba especial</td>
        <td>
            <img width="100px" src="https://media.racnet.es/c/product/escoba-vileda-mantenimiento-de-exteriores-520x520.jpeg" alt="escoba">
        </td>
    </tr>
</table>
<hr>
<app-detalle-producto></app-detalle-producto>
<app-pie-pagina></app-pie-pagina>
