<h2>Formulario de registr</h2>
<div>
    <label >Email</label>
    <input type="email" placeholder="Email" [(ngModel)]="correoElectronico">
    <br>
    <label >Password</label>
    <input type="password" placeholder="Paswword" [(ngModel)]="contrasena">
    <br>
    <label >Repetir password</label>
    <input type="password" placeholder="Repetir password" [(ngModel)]="contresenaRepetir">
    <br>
    <button (click)="verificar()">Registrar</button>
    @if(correcto){
        <p>Registro realizado</p>
    }@else {
        <p>Las contraseñas tienen que coincidir</p>
    }

</div>

